@import '../../stylus/stylus/frame-function.styl'

name = OpinionPro

font-face(name, "../fonts/" + name + '/' + name + 'light', "300","normal")
font-face(name, "../fonts/" + name + '/' + name + 'lightitalic', "300","italic")

.{name} {
    font-family: name
}
