@font-face {
    font-family: Bodoni;
    src: url("../fonts/Bodoni/Bodoni.eot");
    src: url("../fonts/Bodoni/Bodoni.eot?#iefix") format("embedded-opentype"), url("../fonts/Bodoni/Bodoni.woff") format("woff"), url("../fonts/Bodoni/Bodoni.ttf") format("truetype"), url("../fonts/Bodoni/Bodoni.svg#svgBodoni") format("svg");
    font-weight: normal;
    font-style: normal;
}
.Bodoni {
    font-family: Bodoni;
}

@font-face {
    font-family: "BodoniPoster";
    src: url("../fonts/BodoniPoster/BodoniPosterSSiPosterBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro/GothamProRegular.eot");
    src: url("../fonts/GothamPro/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProRegular.woff") format("woff"), url("../fonts/GothamPro/GothamProRegular.ttf") format("truetype"), url("../fonts/GothamPro/GothamProRegular.svg#svgGothamPro") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro/GothamProMediumItalic.eot");
    src: url("../fonts/GothamPro/GothamProMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProMediumItalic.woff") format("woff"), url("../fonts/GothamPro/GothamProMediumItalic.ttf") format("truetype"), url("../fonts/GothamPro/GothamProMediumItalic.svg#svgGothamPro") format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro/GothamProMediumItalic.eot");
    src: url("../fonts/GothamPro/GothamProMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProMediumItalic.woff") format("woff"), url("../fonts/GothamPro/GothamProMediumItalic.ttf") format("truetype"), url("../fonts/GothamPro/GothamProMediumItalic.svg#svgGothamPro") format("svg");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro/GothamProBold.eot");
    src: url("../fonts/GothamPro/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProBold.woff") format("woff"), url("../fonts/GothamPro/GothamProBold.ttf") format("truetype"), url("../fonts/GothamPro/GothamProBold.svg#svgGothamPro") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro/GothamProBoldItalic.eot");
    src: url("../fonts/GothamPro/GothamProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProBoldItalic.woff") format("woff"), url("../fonts/GothamPro/GothamProBoldItalic.ttf") format("truetype"), url("../fonts/GothamPro/GothamProBoldItalic.svg#svgGothamPro") format("svg");
    font-weight: bold;
    font-style: italic;
}
.GothamPro {
    font-family: GothamPro;
}
@font-face {
    font-family: OpinionPro;
    src: url("../fonts/OpinionPro/OpinionProlight.eot");
    src: url("../fonts/OpinionPro/OpinionProlight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpinionPro/OpinionProlight.woff") format("woff"), url("../fonts/OpinionPro/OpinionProlight.ttf") format("truetype"), url("../fonts/OpinionPro/OpinionProlight.svg#svgOpinionPro") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: OpinionPro;
    src: url("../fonts/OpinionPro/OpinionProlightitalic.eot");
    src: url("../fonts/OpinionPro/OpinionProlightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpinionPro/OpinionProlightitalic.woff") format("woff"), url("../fonts/OpinionPro/OpinionProlightitalic.ttf") format("truetype"), url("../fonts/OpinionPro/OpinionProlightitalic.svg#svgOpinionPro") format("svg");
    font-weight: 300;
    font-style: italic;
}
.OpinionPro {
    font-family: OpinionPro;
}
@font-face {
    font-family: PTSans;
    src: url("../fonts/PTSans/PTSans-regular.eot");
    src: url("../fonts/PTSans/PTSans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSans-regular.woff") format("woff"), url("../fonts/PTSans/PTSans-regular.ttf") format("truetype"), url("../fonts/PTSans/PTSans-regular.svg#svgPTSans") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: PTSans;
    src: url("../fonts/PTSans/PTSans-italic.eot");
    src: url("../fonts/PTSans/PTSans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSans-italic.woff") format("woff"), url("../fonts/PTSans/PTSans-italic.ttf") format("truetype"), url("../fonts/PTSans/PTSans-italic.svg#svgPTSans") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: PTSans;
    src: url("../fonts/PTSans/PTSans-bold.eot");
    src: url("../fonts/PTSans/PTSans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSans-bold.woff") format("woff"), url("../fonts/PTSans/PTSans-bold.ttf") format("truetype"), url("../fonts/PTSans/PTSans-bold.svg#svgPTSans") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: PTSans;
    src: url("../fonts/PTSans/PTSans-bold_italic.eot");
    src: url("../fonts/PTSans/PTSans-bold_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSans-bold_italic.woff") format("woff"), url("../fonts/PTSans/PTSans-bold_italic.ttf") format("truetype"), url("../fonts/PTSans/PTSans-bold_italic.svg#svgPTSans") format("svg");
    font-weight: bold;
    font-style: italic;
}
.PTSans {
    font-family: PTSans;
}

body, html {
    margin: 0;
    padding: 0;
    /*min-height: 100vh;*/
    /*height: 100%;*/
    min-width: 800px;
    /*font-family: Verdana, Arial, "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif;*/
    font-family: PTSans;
    background: url("../img/backgrounds/main.jpg") 100px center no-repeat fixed;
    background-size: cover;
    color: #ffffff;
    font-size: 1vw;
}

.site-container {
    visibility: visible;
    height: 1px;
    min-height: 100%;
    width: 100%;
    position: relative;
    /*background: url("../img/backgrounds/main.jpg") 100px center no-repeat fixed;*/
    /*background-size: cover;*/
}
.site-container > * {
    position: relative;
    z-index: 100;
    width: 100%;
}
.site-container:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../img/backgrounds/gradient.png") left center no-repeat fixed;
    background-size: cover;
    z-index: 5;
}

.header-content {
    height: 100px;
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    position: relative;
    /*margin-right: 50px;*/
    margin-left: 50px;
}

.alert-success {
    position: relative;
    width: 100vw;
    height: 100px;
    align-items: center;
    text-align: center;
    line-height: 100px;
    background: rgba(235, 30, 0, 0.5);
    color: #ffffff;
    font-size: 1em;
}

/*@media (max-width: 1600px) {*/
/*body {*/
/*font-size: 0.9em;*/
/*}*/
/*}*/

/*@media (max-width: 1200px) {*/
/*body {*/
/*font-size: 0.8em;*/
/*}*/
/*}*/

/*@media (max-width: 1000px) {*/
/*body {*/
/*font-size: 0.7em;*/
/*}*/
/*}*/

.header-content {
    height: 5vw;
}

.logo-image {
    width: 80%;
}

.header-brand-menu {
    position: relative;
}

.header-brand-menu ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-brand-menu ul li {
    text-align: center;
    vertical-align: middle;
}

.header-brand-menu ul li:last-child {
    padding-right: 0;
}

.header-model-menu {
    width: 100%;
    background: #cccccc;
    display: flex;
    justify-content: space-between;
}

.header-cart-button {
    background: rgba(24, 38, 47, 0.5);
    color: #cccccc;
    border-bottom: 1px solid #ca2d25;
    border-right: 1px solid #ca2d25;
    padding: 2px 12px;
    margin-bottom: 0px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.9em;
    display: inline-block;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.header-cart-link {
    color: #d6d6d6;
    font-family: Bodoni;
    font-size: 0.9em;
    display: flex;
    margin-top: -7px;
    text-decoration: none;
}

.header-cart-image {
    max-height: 1.6vw;
    max-width: 1.6vw;
}

.header-cart-table {
    margin-right: 10px;
    margin-left: 50px;
}

.header-cart-table * {
    white-space: nowrap;
    vertical-align: center;
}

.header-message-icon {
    max-height: 1vw;
    display: block;
    margin-top: -5px;
    margin-left: 6px;
}

.footer-content {
    padding: 15px;
    font-size: 0.85em;
    color: #eeeeee;
    text-align: center;
}

.footer {
    width: 100%;
    background-color: rgba(24, 38, 47, 0.25);
}

.menu-hz-content {
    margin-bottom: 2px;
    position: relative;
    /*padding-bottom: -10px;*/
    width: 100%;
    transition: 1s;
    background-color: rgba(24, 38, 47, 0.5);
}

.menu-hz {
    padding: 0px 50px 0px 0;
    min-height: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.menu-hz ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.menu-hz li {
    color: #b7b7b7;
    display: inline-block;
}

.menu-hz li:hover {
    color: #ffffff;
}

.table__cart
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-hz li:last-child {
    margin-right: 0;
}

.menu-sup-content {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    padding-right: 13px;
}

.menu-sup {
    overflow: hidden;
}

.menu-man-content {
    width: 100%;
    justify-content: center;
    margin: 0;
}

.menu-man {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/*.menu-sup ul {*/
/*list-style: none;*/
/*padding: 0;*/
/*margin: 0;*/
/*color: #ddd;*/
/*font-size: 12pt;*/
/*}*/

.manufacturers {
    width: 100%;
    padding:0;
    margin: 0;
    line-height: 1.5;
}

.manufacturers li {
    list-style: none;
    width: 100%;
    display: inline-block;
    transition: 100ms;
    font-family: GothamPro, sans-serif;
    font-size: 0.9vw;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
}

.manufacturers li:last-child {
    margin: 0;
}

.manufacturers a {
    color: #cccccc;
    text-decoration: none;
}

.manufacturers a:hover {
    color: #ca2d25;
    text-decoration: none;
}

.manufacturers-hz {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

.manufacturers-hz li {
    list-style: none;
    padding: 0 25px;
    display: inline-block;
    transition: 100ms;
    font-family: GothamPro, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}

.manufacturers-hz li:last-child {
    margin: 0;
}

.manufacturers-hz a {
    color: #cccccc;
    text-decoration: none;
}

.manufacturers-hz a:hover {
    color: #ffffff;
    text-decoration: none;
}

/*.menu-sup li {*/
/*display: inline-block;*/
/*margin-bottom: 15px;*/
/*margin-right: 30px;*/
/*}*/

/*.menu-sup li:last-child {*/
/*margin: 0;*/
/*}*/

.main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main-cart-container {
    display: flex;
}

.cart-content {
    width: 60%;
    padding-bottom: 50px;
}

.cart-form {
    margin: 0 20px 0 20px;
    padding: 10px;
    background-color: rgba(24, 38, 47, 0.7);
}

.cart-form input {
    background: rgba(24, 38, 47, 0.5);
    color: lightgray;
    width: 50%;
    border: 1px solid lightgray;
    padding: 8px 16px;
}

.cart-form textarea {
    background: rgba(24, 38, 47, 0.5);
    color: lightgray;
    width: 50%;
    height: 5em;
    border: 1px solid lightgray;
    padding: 8px 16px;
}

.cart-form button {
    background: #ca2d25;
    color: #ffffff;
    border: 2px solid #ca2d25;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.form-input {
    padding-bottom: 20px;
}

.menu-cart-content {
    width: 20%;
}

.menu-left-content {
    width: 20%;
    height: 75vh;
    position: fixed;
    display: flex;
    align-items: center;
}

.menu-cart-back {
    padding: 0 0 20px 50px;
}

.menu-cart-back a {
    text-decoration: none;
}

.menu-cart-back button {
    background: #ca2d25;
    border: 2px solid lightgray;
    padding: 8px 16px;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.menu-left-back {

}

.menu-left-back a {
    text-decoration: none;
}

.menu-left-back button {
    background: #ca2d25;
    border: 2px solid lightgray;
    padding: 8px 16px;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.menu-left-content a {
    color: lightgray;
    text-decoration: none;
}

.menu-left-content a:hover {
    color: #ca2d25;
}

.menu-left {

}

.menu-left a {
    position: relative;
    font-family: GothamPro, sans-serif;
    bottom: 5px;
}

.menu-left ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 10px;
}

.menu-left li {
    padding-bottom: 10px;
}

.menu-left li:last-child {
    padding-bottom: 0;
}

.content {
    width: 60%;
    height: 100%;
    padding-left: 20%;
}

.carousel {
    width: 60%;
    display: flex;
}

.content-product {
    margin: 0 20px 0 20px;
    padding: 10px;
    background-color: rgba(24, 38, 47, 0.75);
}

.carousel-product {
    margin: 0 20px 0 20px;
    width: 33%;
    padding: 10px;
    background-color: rgba(24, 38, 47, 0.75);
}

.content-product-info {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px 50px 20px;
    padding: 10px;
    background-color: rgba(24, 38, 47, 0.5);
}

.content-product-info-header {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.content-product-info-header a {
    color: #cccccc;
    text-decoration: none;
}

.content-product-info-header a:hover {
    color: #ca2d25;
    text-decoration: none;
}

.content-product-info-cart {
    margin-left: 15px;
}

.content-product-info-price-button {
    background: rgba(24, 38, 47, 0.75);
    color: #ffffff;
    border: 2px solid #ca2d25;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.content-product-info-cart-button {
    background: #ca2d25;
    color: #ffffff;
    border: 2px solid #ca2d25;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.pagination {
    padding: 50px 0;
    text-align: center;
}

.pagination-button-true {
    background: #ca2d25;
    border: 2px solid #ca2d25;
    padding: 4px 16px;
    text-align: center;
    display: inline-block;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.pagination-button-false {
    color: rgba(24, 38, 47, 0.75);
    border: 2px solid #ca2d25;
    padding: 4px 16px;
    text-align: center;
    display: inline-block;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
}

.pagination a {
    color: #ffffff;
    text-decoration: none;
}

/*li ul { display: none; }*/

/*ul li a {*/
/*display: block;*/
/*padding: 0.4em;*/
/*text-decoration: none;*/
/*white-space: nowrap;*/
/*color: #fff;*/
/*}*/

/*ul li a:hover { background: #2c3e50; }*/

/*li:hover > ul {*/
/*display: block;*/
/*position: absolute;*/
/*}*/

/*li:hover li { float: none; }*/

/*li:hover a { background: #222; }*/

/*li:hover li a:hover { background: #2c3e50; }*/

/*.main-navigation li ul li { border-top: 0; }*/

/*ul ul ul {*/
/*left: 100%;*/
/*top: 0;*/
/*}*/

/*ul:before,*/
/*ul:after {*/
/*content: " "; !* 1 *!*/
/*display: table; !* 2 *!*/
/*}*/

/*ul:after { clear: both; }*/

.menu-hz .brand__list {
    max-height: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
}

.brand__list li {
    font-family: GothamPro, sans-serif;
    height: 20px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    text-align: center;
    cursor: pointer;
}

.brand__list li a {
    color: #cccccc;
    text-decoration: none;
}

.brand__list li a:hover {
    color: #ffffff;
    text-decoration: none;
}

.model__list li {
    font-family: GothamPro, sans-serif;
    margin: 5px 20px;
}

.model__list li a {
    color: #b7b7b7;
    text-decoration: none;
}

.model__list li a:hover {
    color: #ffffff;
}

.model__list_active {
    color: #ffffff;
}

.brand__list.active {
    max-height: 1000px;
}

.menu-hz .model__list {
    max-width: 1280px;
    justify-content: center;
    margin: 0 auto;
    max-height: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.model__list.active {
    max-height: 2000px;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.footer-link {
    color: white;
}

u {
    text-decoration: none;
}

._activeColor {

    color: #ffffff!important;
}

.list-brands__item
{
    display: flex;
    height: 4.9vw;
    width: 63px;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-img {
    width: 55px;
}

.active-brand
{
    background: rgba(24, 38, 47, 0.5);
}

.long
{
    width: 65px;
}

#cart
{
    font-size:15px;
    position: relative;
    margin-top: 0px;
}

.show-all
{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}