@import '../../stylus/stylus/frame-function.styl'

name = PTSans

font-face(name, "../fonts/" + name + '/' + name + "-regular","normal","normal")
font-face(name, "../fonts/" + name + '/' + name + "-italic","normal","italic")
font-face(name, "../fonts/" + name + '/' + name + "-bold","bold","normal")
font-face(name, "../fonts/" + name + '/' + name + "-bold_italic","bold","italic")

.{name} {
    font-family: name
}
