@import '../../stylus/stylus/frame-function.styl'

name = GothamPro

font-face(name, "../fonts/" + name + '/' + name + "Regular","normal","normal")
font-face(name, "../fonts/" + name + '/' + name + "MediumItalic","500","normal")
font-face(name, "../fonts/" + name + '/' + name + "MediumItalic","500","italic")
font-face(name, "../fonts/" + name + '/' + name + "Bold","bold","normal")
font-face(name, "../fonts/" + name + '/' + name + "BoldItalic","bold","italic")

.{name} {
    font-family: name
}
